.formpos{
   background-image: url(../img/casey-horner-4rDCa5hBlCs-unsplash.jpg); 
   height: 700px; 
   width: 800px;
   margin: auto;
   opacity: 100%;
   position: relative;
}
body{
    background-color: black;
}
h1{
    text-align: center;
}
.formcontent{
    width: 400px;
    height: 700px;
    background-image: linear-gradient(rgb(137, 236, 243),white);
    margin: auto;
    border-radius: 5%;
    box-shadow: rgb(76, 230, 222) 5px 5px;
}
.toptext{
    font-size: larger;
    margin-top: 80px;
    margin-left: 30px;
    
}
.large{
    font-size: 30px;
    text-align: center;
    float: left;
    font-family: fantasy;
}

.logo img{
    margin-top: 10px;
    margin-left: 150px;
    border-radius: 50px;
    width:100px;
    height:100px;
   

}
button{
    background-color: rgb(31, 73, 31);
    border-radius: 10px;
    margin-left: 60px;
    color: white;
}
#form{
    align-items: center;
    padding: 10px;
    margin-left: 50px;
}
a{
    color:rgb(2, 68, 2);
}
